:root {
  /* Colors
  ____________________*/
  --color-primary: #ffffff;
  --color-primary-dark: #208c61;
  --color-bg-primary: #bcbec077;
  --color-bg-secondary: #242424;
  --color-bg-footer: #cfc8c8;
  --color-white: #990d0d;
  --color-text: #000000;
  --color-border: #373737;

  /* Font & Typography
  ___________________*/
  --ff-body: "Space Grotesk", sans-serif;
  /* font sizes */
  --fs-sm: 1.8rem;
  --fs-md: 2rem;
  --fs-lg: 2.4rem;
  --fs-xl: 2.8rem;
  --fs-xxl: 3.8rem;
  --fs-biggest: clamp(3rem, 8vw, 5rem);
  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* z-index
  ___________________*/
  --zindex-menu: 1000;
  --zindex-fixed: 1010;

  /* With & Height 
  ------------------*/
  --width-container: 90%;
  --height-header: 10rem;
  --height-header--scroll: 8rem;

  /* Transition and box shadow*/
  --transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  --box-shadow: 0px 4px 10px rgba(173, 35, 35, 0.1);
}


/* CSS Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 75%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

main {
  overflow: hidden;
}

body {
  background-color: var(--color-bg-primary);
  font-family: var(--ff-body);
  font-size: var(--fs-md);
  color: var(--color-text);
  margin: 0;
  line-height: 1.2;
}

/* Reusable CSS
--------------------------------------------------------------*/
.container {
  width: 90%;
  max-width: var(--width-container);
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin: 0;
  padding: 5rem 0;
}

.section__header {
  margin: 8rem 0;
  text-align: center;
}

.section__title {
  font-size: var(--fs-xl);
  margin-bottom: 0.5rem;
}

.section__subtitle {
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  position: relative;
}

.section__subtitle::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0.5rem;
  background-color: var(--color-primary);
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.d-grid {
  display: grid;
  gap: 3rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  color: black;
  font-weight: var(--fw-semibold);
  transition: var(--transition);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: var(--color-primary-dark);
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-bg-primary);
}

.btn--secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Header
--------------------------------------------------------------*/
.header {
  background-color: var(--color-bg-primary);
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: var(--height-header);
  z-index: var(--zindex-menu);
  transition: var(--transition);
}

.header--scroll {
  height: var(--height-header--scroll);
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav__brand {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav__brand i {
  color: var(--color-white);
}

.nav__list {
  display: flex;
  column-gap: 4rem;
}

.nav__link {
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__toggle {
  display: none;
  font-size: var(--fs-xl);
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}

.nav__toggle:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 968px) {
  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg-primary);
    display: none;
    justify-content: center;
    transition: var(--transition);
  }

  .nav__menu--open {
    display: var(--zindex-fixed);
  }

  .nav__toggle {
    display: block;
  }

  .nav__brand,
  .nav__toggle {
    z-index: var(--zindex-fixed);
  }
}


/* Hero Section */
.hero__wrapper {
  min-height: calc(100vh - var(--height-header)); /* Full viewport height minus header height */
  padding: 5rem 1rem; /* Vertical and horizontal padding */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  position: relative; /* Position relative for absolute positioning of button */
}

.hero__content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 3rem; /* Space for button at the bottom */
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative; /* For absolute positioning of the pseudo-element */
}

.hero__title::after {
  position: absolute;
  content: "";
  background-color: var(--color-primary);
  width: 10rem;
  height: 0.5rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero__description {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: #666;
}

.hero__info {
  border-top: 1px solid var(--color-border);
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.hero__info-number {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.hero__info-title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  color: var(--color-text);
}
/* Styled Button */
.styled-button {
  padding: 20px 35px; /* Increased padding for a larger button */
  border: none;
  border-radius: 20px; /* Larger border radius */
  color: #212121;
  background: #e8e8e8;
  font-weight: bold;
  font-size: 30px; /* Increased font size for larger text */
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  display: block;
  margin: 0 auto; /* Center horizontally */
  text-align: center;
  position: absolute; /* Position absolute to place it at the bottom */
  bottom: 2rem; /* Increased spacing from bottom */
}

.styled-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 20px; /* Larger border radius to match button */
  background-color: #8a1b1b;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
}

.styled-button:hover {
  color: #e8e8e8;
}

.styled-button:hover::before {
  width: 100%;
}



/* About
--------------------------------------------------------------*/
.continue-application {
  --color: #fff;
  --background: #333438;
  --background-hover: #8289a1;
  --background-left: #2B3044;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}

.about__content {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.about__title {
  font-size: var(--fs-xxl);
  margin-bottom: 3rem;
}

.about__description {
  margin-bottom: 3rem;
}

.skills {
  justify-self: center;
  color: #cfc8c8;
}

.skills__title {
  font-size: var(--fs-lg);
  text-align: center;
  margin-bottom: 3rem;
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skills__content {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 3rem;
  flex: 1; /* Allow the skills content to grow */
  min-width: 20rem; /* Ensure a minimum width */
  border-radius: 1rem; /* Optional: add border radius for rounded corners */
}

.skills__item {
  margin-bottom: 1rem;
}

.skills__subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.skills__item i {
  color: red;
}

/* Qualification
--------------------------------------------------------------*/
/* Qualification Wrapper */
.qualification__wrapper {
  margin-bottom: 5rem;
}

/* Qualification Name */
.qualification__name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

/* Qualification Content */
.qualification__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust based on the number of items */
  gap: 2rem; /* Adjust the gap between items */
}

/* Qualification Item */
.qualification__item {
  background-color: #cecece; /* Example background color */
  padding: 1.5rem;
  border: 1px solid #ddd; /* Example border */
}

/* Qualification Title */
.qualification__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  margin-bottom: 1rem;
}

/* Qualification Description */
.qualification__description {
  margin-bottom: 1rem;
}

/* Qualification Date */
.qualification__date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}



/* Projects
--------------------------------------------------------------*/
.section {
  padding: 3rem 0; /* Increased padding for better spacing */
}

.container {
  width: 100%;
  max-width: 1200px; /* Ensure it fits within the desired width */
  margin: 0 auto;
  padding: 0 1rem; /* Added padding for container spacing */
}

.section__header {
  text-align: center;
  margin-bottom: 3rem; /* Increased margin for spacing */
}

.section__title {
  font-size: 2.5rem; /* Larger font size for the title */
  color: #333;
}

.section__subtitle {
  font-size: 1.5rem; /* Larger font size for the subtitle */
  color: #777;
}

.d-grid {
  display: grid;
  gap: 2rem; /* Space between items */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted grid for responsiveness */
}

.project__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem; /* Padding for internal spacing */
  border: 2px solid #ccc; /* Optional border for visual appeal */
  border-radius: 15px; /* Rounded corners for aesthetics */
  background: #f9f9f9; /* Background color for better contrast */
}

.project__img {
  width: 80%; /* Width relative to parent container */
  max-width: 300px; /* Adjusted max-width for images */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-bottom: 1rem; /* Space below the image */
  border-radius: 10px; /* Rounded corners for images */
}

.project__title {
  color: var(--color-white);
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
}

.project__description {
  margin-top: 1rem; /* Space above description */
  font-size: 1.5rem; /* Font size for readability */
  color: #555; /* Text color for description */
  max-width: 300px; /* Adjusted max-width for descriptions */
}

.card {
  position: relative;
  width: 350px; /* Increased width */
  height: 400px; /* Increased height */
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px; /* Increased font size proportionally */
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card:hover::after {
  content: "Click Me!";
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Contact
--------------------------------------------------------------*/
#contact {
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  font-size: 100%;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: 200%;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 5rem;
}
.contact-icon {
  height: 5rem;
}

/* Footer
--------------------------------------------------------------*/
.footer {
  background-color: var(--color-bg-footer);
  padding: 5rem 0;
}

.footer__wrapper {
  border-bottom: 1px solid var(--color-bg-secondary);
  padding: 5rem 0;
  gap: 5rem;
}

.footer__title {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
}

.footer__social-list {
  display: flex;
  gap: 3rem;
}

.footer__social-link {
  font-size: 2rem;
  color: var(--color-white);
  transition: var(--transition);
}

.footer__contact {
  font-size: var(--fs-lg);
  color: var(--color-white);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  transition: var(--transition);
}

.footer__social-link:hover,
.footer__contact:hover {
  color: var(--color-primary);
}

.footer__copyright {
  font-size: var(--fs-sm);
  text-align: center;
  padding-top: 3rem;
}


/* Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
  background-color: var (--color-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var (--color-text);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var (--color-primary);
}

/* Breakpoints
--------------------------------------------------------------*/

/* Medium devices*/
@media screen and (min-width: 560px) {
  .service__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .qualification__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__footer {
    text-align: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qualification__footer-text {
    margin: 0;
  }

  .project__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__content {
    text-align: initial;
  }

  .hero__title::after {
    transform: none;
    left: 0;
  }

  .hero__info {
    justify-content: initial;
  }

  .hero__img {
    justify-self: flex-end;
  }
}

/* Large devices */

@media screen and (min-width: 968px) {
  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__content {
    margin: 0;
  }

  .about__content,
  .skills__title {
    text-align: initial;
  }

  .qualification__content,
  .service__wrapper,
  .project__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    margin: 0;
    text-align: initial;
  }

  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
